:root{
    --cor0:#B04E03; 
    --cor1:#FF8121; 
    --cor2: #FC7208; 
    --cor3: #009CB0;
    --cor4: #08E0FC; 

}

* {
    margin: 0%;
}
header{
    background: linear-gradient(to bottom, #ffffff, var(--cor2), var(--cor1));
    height: 100px;
    text-align: center;
}
header > h1{
    margin: auto;
    padding: 30px;
}
main{
    background-color: #ff9b4f;
}
footer{
    background-color: var(--cor1);
    padding: 5px;
}
